In [1]:
import pandas as pd

In [4]:
df = pd.read_excel('test_data/우울증.xlsx', encoding='utf-8')

In [7]:
df.columns =['text','label']

In [54]:
df = df.dropna()

In [55]:
from konlpy.tag import Kkma
tokenizer = Kkma()

In [56]:
pd.DataFrame(df['text'])

                                           text
0                     청소년우울증고민이요...\t\t\t\t\t\t
1                             안녕하세요\t\t\t\t\t\t
2          지금중3 내년엔 고등학생이 되는여학생입니다.\t\t\t\t\t\t
3          다름아니라 우울증이 있는거같아 큰고민입니다 \t\t\t\t\t\t
4       제가 어려서 철이없어서 그런건진 잘 모르겟습니다.\t\t\t\t\t\t
...                                         ...
1237    저사람이 내가 뚱뚱해서 사람대접 저렇게하는건가싶고\t\t\t\t\t\t
1238       친구들을 만나도...뒤에가선 엄청뚱뚱해졌드라\t\t\t\t\t\t
1239  같이다니기쪽팔린다할까바... 만날엄두도 안서고....\t\t\t\t\t\t
1240  친한애들이랑은 만나도...내가살이많이쪄서 쪽팔려할까바\t\t\t\t\t\t
1241             만나서놀자 소리도 못하겠고....\t\t\t\t\t\t

[1171 rows x 1 columns]

In [57]:
a = list(df['text'])

In [58]:
b =list(pd.get_dummies(df['label']).values)

In [61]:
import numpy as np
import pandas as pd

In [78]:
import os
import re
from konlpy.tag import Okt

RE_FILTER = re.compile("[.,!?\"':;~()\t'['']']")
# 형태소분석 함수
def pos_tag(sentences):
    
    # KoNLPy 형태소분석기 설정
    tagger = Okt()
    
    # 문장 품사 변수 초기화
    sentences_pos = []
    
    # 모든 문장 반복
    for sentence in sentences:
        # 특수기호 제거
        sentence = re.sub(RE_FILTER, "", sentence)
        
        # 배열인 형태소분석의 출력을 띄어쓰기로 구분하여 붙임
        sentence = " ".join(tagger.morphs(sentence))
        sentences_pos.append(sentence)
        
    return sentences_pos

In [79]:
a = pos_tag(a)

In [81]:
kor_words = set()
for kor in a:
    for word in kor.split():
        kor_words.add(word)

In [83]:
len(kor_words)

2964

In [84]:
kor_w2i = { word : i for i, word in enumerate(kor_words)}
kor_i2w = { i : word for word, i in kor_w2i.items()}