In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline

In [2]:
gs= pd.read_csv('korea_cvs.csv')

In [6]:
gs.head()

,korea_cvs.pvn_nm,korea_cvs.sale_dt,korea_cvs.gen_cd,korea_cvs.age_cd,korea_cvs.category,korea_cvs.adj_qty,korea_cvs.bor_nm
0,서울특별시,20160101,F,00~19,라면,7,종로구
1,서울특별시,20160101,F,20~39,과자,655,종로구
2,서울특별시,20160101,F,20~39,라면,282,종로구
3,서울특별시,20160101,F,20~39,마스크,35,종로구
4,서울특별시,20160101,F,20~39,맥주,183,종로구

In [ ]:
tx_df = gs['korea_cvs.category']
goods_df = gs['korea_cvs.adj_qty']

In [ ]:
goods_df.sum()

In [ ]:
ra = seoul[seoul['korea_csv.category']=='라면']
print(ra['korea.adj_qty'].sum())

In [ ]:
gs['korea_cvs.pvn_nm'].value_counts()

In [ ]:
-- https://datascienceschool.net/view-notebook/76dcd63bba2c4959af15bec41b197e7c/

In [13]:
mat = gs.groupby([gs['korea_cvs.category'], gs['korea_cvs.pvn_nm']])

AttributeError: 'DataFrameGroupBy' object has no attribute 'pyplot'

In [10]:
ramen2 = ramen['korea_cvs.adj_qty'].sum()

In [5]:
groups.sum()

                  korea_cvs.sale_dt  korea_cvs.adj_qty
korea_cvs.pvn_nm
경기도                  22651501548389           90948216
서울특별시                25032517909135          123528514
인천광역시                 6933420934396           20180146

In [4]:
groups = gs.groupby('korea_cvs.pvn_nm')

In [ ]:
gs.pivot('korea_cvs.pvn_nm','korea_cvs.category')

In [ ]:
seoul = gs[gs['korea_cvs.pvn_nm']=='서울특별시'] and gs[gs['korea_cvs.category']=='라면']

In [7]:
ramen = gs[gs['korea_cvs.category'] == '라면']
print(ramen['korea_cvs.adj_qty'].sum())
snack = gs[gs['korea_cvs.category'] == '과자']
print(snack['korea_cvs.adj_qty'].sum())
icecream = gs[gs['korea_cvs.category']=='아이스크림']
print(icecream['korea_cvs.adj_qty'].sum())
beer = gs[gs['korea_cvs.category'] == '맥주']
print(beer['korea_cvs.adj_qty'].sum())
water = gs[gs['korea_cvs.category']== '생수']
print(water['korea_cvs.adj_qty'].sum())
tansan = gs[gs['korea_cvs.category']=='탄산음료']
print(tansan['korea_cvs.adj_qty'].sum())
hangover = gs[gs['korea_cvs.category']== '숙취해소제']
print(hangover['korea_cvs.adj_qty'].sum())
pad = gs[gs['korea_cvs.category']== '생리대']
print(pad['korea_cvs.adj_qty'].sum())
staking = gs[gs['korea_cvs.category']== '스타킹']
print(staking['korea_cvs.adj_qty'].sum())
mask = gs[gs['korea_cvs.category']== '마스크']
print(mask['korea_cvs.adj_qty'].sum())
umm = gs[gs['korea_cvs.category']== '우산']
print(umm['korea_cvs.adj_qty'].sum())
abc = gs[gs['korea_cvs.category']== '면도기']
print(abc['korea_cvs.adj_qty'].sum())

51583191
76111229
38652798
24338889
18235878
11993627
5299560
3437552
1911245
940473
1614216
538218

In [ ]:
gs['korea_cvs.adj_qty'].value_counts()

In [ ]:
gs['korea_csv']

In [ ]:
ramen = []
for i in gs['korea_cvs.category'].unique():
    gs[gs['korea_cvs.category'] == '라면']['korea_cvs.adj_qty'].sum
    print(gs['korea_cvs.category'].unique())

In [ ]:
ramen