In [1]:
# module import
import pandas as pd
import numpy as np

In [2]:
# read data
t_activity = pd.read_csv("test1_activity.csv")

In [3]:
# confirm types
t_activity.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 761888 entries, 0 to 761887
Data columns (total 17 columns):
day                  761888 non-null int64
acc_id               761888 non-null int64
char_id              761888 non-null int64
server               761888 non-null object
playtime             761888 non-null float64
npc_kill             761888 non-null float64
solo_exp             761888 non-null float64
party_exp            761888 non-null float64
quest_exp            761888 non-null float64
rich_monster         761888 non-null int64
death                761888 non-null float64
revive               761888 non-null float64
exp_recovery         761888 non-null float64
fishing              761888 non-null float64
private_shop         761888 non-null float64
game_money_change    761888 non-null float64
enchant_count        761888 non-null float64
dtypes: float64(12), int64(4), object(1)
memory usage: 98.8+ MB

In [4]:
# data.head
t_activity.head()

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,1,43337,22671,aa,0.273857,0.185867,0.006453,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.004180,0.0
1,1,16892,260714,aa,0.381527,0.152073,0.007430,0.000000,0.001735,0,0.245883,0.000000,0.000000,0.00000,0.0,-0.014307,0.0
2,1,13584,143979,aa,0.840295,0.360244,0.007856,0.010651,0.000000,1,0.245883,0.247337,15.948733,0.09663,0.0,-0.015057,0.0
3,1,13584,382845,aa,0.007022,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0
4,1,13584,364142,aa,0.002341,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0

In [5]:
# make new column
t_activity["wk"] = 0

In [6]:
t_activity.head()

,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count,wk
0,1,43337,22671,aa,0.273857,0.185867,0.006453,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.004180,0.0,0
1,1,16892,260714,aa,0.381527,0.152073,0.007430,0.000000,0.001735,0,0.245883,0.000000,0.000000,0.00000,0.0,-0.014307,0.0,0
2,1,13584,143979,aa,0.840295,0.360244,0.007856,0.010651,0.000000,1,0.245883,0.247337,15.948733,0.09663,0.0,-0.015057,0.0,0
3,1,13584,382845,aa,0.007022,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0
4,1,13584,364142,aa,0.002341,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0,0

In [7]:
# copy name of columns
t_activity.columns

Index(['day', 'acc_id', 'char_id', 'server', 'playtime', 'npc_kill',
       'solo_exp', 'party_exp', 'quest_exp', 'rich_monster', 'death', 'revive',
       'exp_recovery', 'fishing', 'private_shop', 'game_money_change',
       'enchant_count', 'wk'],
      dtype='object')

In [8]:
# arrenge column
t_activity = pd.DataFrame(t_activity, columns = ['wk', 'day', 'acc_id', 'char_id', 'server', 'playtime', 'npc_kill',
       'solo_exp', 'party_exp', 'quest_exp', 'rich_monster', 'death', 'revive',
       'exp_recovery', 'fishing', 'private_shop', 'game_money_change',
       'enchant_count'])

In [9]:
t_activity.head()

,wk,day,acc_id,char_id,server,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
0,0,1,43337,22671,aa,0.273857,0.185867,0.006453,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.004180,0.0
1,0,1,16892,260714,aa,0.381527,0.152073,0.007430,0.000000,0.001735,0,0.245883,0.000000,0.000000,0.00000,0.0,-0.014307,0.0
2,0,1,13584,143979,aa,0.840295,0.360244,0.007856,0.010651,0.000000,1,0.245883,0.247337,15.948733,0.09663,0.0,-0.015057,0.0
3,0,1,13584,382845,aa,0.007022,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0
4,0,1,13584,364142,aa,0.002341,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.000000,0.00000,0.0,0.000000,0.0

In [10]:
# month classification by week
def wk_classification(df):
    df.loc[df['day'] <= 7, ['wk']] = 1
    df.loc[(df['day'] > 7) & (df['day'] <= 14), ['wk']] = 2
    df.loc[(df['day'] > 14) & (df['day'] <= 21), ['wk']] = 3
    df.loc[df['day'] >  21, ['wk']] = 4
    return

wk_classification(t_activity)

In [11]:
# set index for groupby
t_activity.set_index(t_activity["acc_id"], inplace = True)

In [12]:
t_activity.columns[:5]

Index(['wk', 'day', 'acc_id', 'char_id', 'server'], dtype='object')

In [13]:
# delete column to same index
t_activity = t_activity.drop(t_activity.columns[1:5], axis=1)

In [14]:
# confirm indexing
t_activity.sort_index(ascending = True).head(10)

,wk,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
acc_id,,,,,,,,,,,,,,
1,3,3.370544,2.282110,0.019898,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,-0.000021,0.0
1,2,3.340115,2.192893,0.019207,0.0,0.0,0,0.245883,0.0,0.0,0.0,0.0,0.000078,0.0
1,1,0.002341,0.000000,0.000000,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,4,3.370544,2.293599,0.020178,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000093,0.0
1,4,3.300324,2.070559,0.018072,0.0,0.0,0,0.491767,0.0,0.0,0.0,0.0,-0.000221,0.0
1,4,0.018725,0.000000,0.000000,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,3,3.370544,2.212494,0.019476,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,-0.000041,0.0
1,3,0.002341,0.000000,0.000000,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,4,0.014044,0.000000,0.000000,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,3,3.363522,2.193231,0.019210,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000099,0.0

In [15]:
t_activity.columns

Index(['wk', 'playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'rich_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count'],
      dtype='object')

In [16]:
# groupby 'acc_id', "wk" and sum of other columns
t_group = t_activity.groupby(['acc_id', "wk"], sort = ['acc_id'])[t_activity.columns[:]].agg('sum')
t_group.head()

           wk   playtime   npc_kill  solo_exp  party_exp  quest_exp  \
acc_id wk
1      1   12  22.030247  14.669980  0.128760        0.0   0.000000
       2   18  22.105148  14.596309  0.128466        0.0   0.000000
       3   33  21.857038  14.468568  0.127441        0.0   0.000000
       4   48  22.559235  14.551025  0.127720        0.0   0.000000
3      1    6   0.524307   0.038525  0.002575        0.0   0.000875

           rich_monster     death  revive  exp_recovery   fishing  \
acc_id wk
1      1              0  0.491767     0.0           0.0  0.000000
       2              0  0.983534     0.0           0.0  0.000000
       3              0  0.000000     0.0           0.0  0.000000
       4              0  1.229417     0.0           0.0  0.000000
3      1              1  0.000000     0.0           0.0  0.345364

           private_shop  game_money_change  enchant_count
acc_id wk
1      1            0.0          -0.000005            0.0
       2            0.0           0.000308            0.0
       3            0.0          -0.000295            0.0
       4            0.0           0.000108            0.0
3      1            0.0           0.005545            0.0

# 이 밑에 있는거 돌리면 컬럼 생성되니까 돌리지말고 그대로 쭉내려가세요

In [17]:
# for col in t_activity.columns[1:14]:
#     for i in range(1, 5):
#         t_activity["{}_{}".format(col, i)] = 0

In [18]:
t_activity.columns

Index(['wk', 'playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'rich_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count'],
      dtype='object')

In [19]:
ls = ['wk', 'playtime', 'npc_kill', 'solo_exp', 'party_exp', 'quest_exp',
       'rich_monster', 'death', 'revive', 'exp_recovery', 'fishing',
       'private_shop', 'game_money_change', 'enchant_count']

# act_wk1.rename(columns='{}':'{}_1'.format(i))  ---- 이런식으로  for문 돌리면 될듯 컬럼

일단 급해서 대충 설계해놓을테니 형이 이거 코드짜서 다 돌리면 될듯!

In [20]:
act_wk1 = t_activity[t_activity["wk"]==1]
act_wk1.sort_index(ascending = True).head()

,wk,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
acc_id,,,,,,,,,,,,,,
1,1,3.342456,2.241557,0.019653,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000154,0.0
1,1,1.879546,1.189887,0.010732,0.0,0.0,0,0.245883,0.0,0.0,0.0,0.0,-0.000109,0.0
1,1,3.340115,2.280420,0.019898,0.0,0.0,0,0.245883,0.0,0.0,0.0,0.0,-0.000230,0.0
1,1,0.014044,0.000000,0.000000,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,0.000000,0.0
1,1,3.370544,2.215873,0.019488,0.0,0.0,0,0.000000,0.0,0.0,0.0,0.0,-0.000105,0.0

In [21]:
act_wk1 = t_activity[t_activity["wk"]==1].groupby("acc_id").sum()
act_wk1.head()

,wk,playtime,npc_kill,solo_exp,party_exp,quest_exp,rich_monster,death,revive,exp_recovery,fishing,private_shop,game_money_change,enchant_count
acc_id,,,,,,,,,,,,,,
1,12,22.030247,14.669980,0.128760,0.000000,0.000000,0,0.491767,0.000000,0.0,0.000000,0.0,-0.000005,0.0
3,6,0.524307,0.038525,0.002575,0.000000,0.000875,1,0.000000,0.000000,0.0,0.345364,0.0,0.005545,0.0
9,1,0.004681,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
26,19,8.910874,2.049269,0.428994,0.009611,0.000868,2,5.163553,5.194075,0.0,10.843514,0.0,0.422360,0.0
27,7,9.245588,4.826123,0.035268,9.303493,0.000000,0,3.196485,3.215380,0.0,0.000000,0.0,-0.007387,0.0

In [22]:
# for col in t_act_co.columns[1:14]:
#     t_act_co["{}_{}".format(col, i)] = 0

# t_act_co = t_activity.copy()

# for i, col in zip(range(1,5), t_act_co.columns[1:14]):
#     t_act_co["{}_{}".format(col, i)] = 0
#     act_wk = t_act_co[t_act_co["wk"]=="{}".format(i)].groupby("acc_id").sum()
#     for s in act_wk1:
        

# act_wk1.rename(columns={'playtime':'playtime_1','npc_kill':'npc_kill_1','solo_exp':'solo_exp_1','party_exp':'party_exp_1','quest_exp':'quest_exp_1','rich_monster':'rich_monster_1','death':'death_1','revive':'revive_1','exp_recovery':'exp_recovery_1','fishing':'fishing_1','private_shop':'private_shop_1','game_money_change':'game_money_change_1','enchant_count':'enchant_count_1'},inplace=True)

# act_wk2.rename(columns={'playtime':'playtime_2','npc_kill':'npc_kill_2','solo_exp':'solo_exp_2','party_exp':'party_exp_2','quest_exp':'quest_exp_2','rich_monster':'rich_monster_2','death':'death_2','revive':'revive_2','exp_recovery':'exp_recovery_2','fishing':'fishing_2','private_shop':'private_shop_2','game_money_change':'game_money_change_2','enchant_count':'enchant_count_2'},inplace=True)

# act_wk3.rename(columns={'playtime':'playtime_3','npc_kill':'npc_kill_3','solo_exp':'solo_exp_3','party_exp':'party_exp_3','quest_exp':'quest_exp_3','rich_monster':'rich_monster_3','death':'death_3','revive':'revive_3','exp_recovery':'exp_recovery_3','fishing':'fishing_3','private_shop':'private_shop_3','game_money_change':'game_money_change_3','enchant_count':'enchant_count_3'},inplace=True)

# act_wk4.rename(columns={'playtime':'playtime_4','npc_kill':'npc_kill_4','solo_exp':'solo_exp_4','party_exp':'party_exp_4','quest_exp':'quest_exp_4','rich_monster':'rich_monster_4','death':'death_4','revive':'revive_4','exp_recovery':'exp_recovery_4','fishing':'fishing_4','private_shop':'private_shop_4','game_money_change':'game_money_change_4','enchant_count':'enchant_count_4'},inplace=True)
# print(act_wk1)

In [23]:
act_wk1 = t_activity[t_activity["wk"]==1].groupby("acc_id").sum()
act_wk1.rename(columns={'playtime':'playtime_1','npc_kill':'npc_kill_1','solo_exp':'solo_exp_1','party_exp':'party_exp_1','quest_exp':'quest_exp_1','rich_monster':'rich_monster_1','death':'death_1','revive':'revive_1','exp_recovery':'exp_recovery_1','fishing':'fishing_1','private_shop':'private_shop_1','game_money_change':'game_money_change_1','enchant_count':'enchant_count_1'},inplace=True)
act_wk2 = t_activity[t_activity["wk"]==2].groupby("acc_id").sum()
act_wk2.rename(columns={'playtime':'playtime_2','npc_kill':'npc_kill_2','solo_exp':'solo_exp_2','party_exp':'party_exp_2','quest_exp':'quest_exp_2','rich_monster':'rich_monster_2','death':'death_2','revive':'revive_2','exp_recovery':'exp_recovery_2','fishing':'fishing_2','private_shop':'private_shop_2','game_money_change':'game_money_change_2','enchant_count':'enchant_count_2'},inplace=True)
act_wk3 = t_activity[t_activity["wk"]==3].groupby("acc_id").sum()
act_wk3.rename(columns={'playtime':'playtime_3','npc_kill':'npc_kill_3','solo_exp':'solo_exp_3','party_exp':'party_exp_3','quest_exp':'quest_exp_3','rich_monster':'rich_monster_3','death':'death_3','revive':'revive_3','exp_recovery':'exp_recovery_3','fishing':'fishing_3','private_shop':'private_shop_3','game_money_change':'game_money_change_3','enchant_count':'enchant_count_3'},inplace=True)
act_wk4 = t_activity[t_activity["wk"]==4].groupby("acc_id").sum()
act_wk4.rename(columns={'playtime':'playtime_4','npc_kill':'npc_kill_4','solo_exp':'solo_exp_4','party_exp':'party_exp_4','quest_exp':'quest_exp_4','rich_monster':'rich_monster_4','death':'death_4','revive':'revive_4','exp_recovery':'exp_recovery_4','fishing':'fishing_4','private_shop':'private_shop_4','game_money_change':'game_money_change_4','enchant_count':'enchant_count_4'},inplace=True)
print(act_wk1)

        wk  playtime_1  npc_kill_1  solo_exp_1  party_exp_1  quest_exp_1  \
acc_id
1       12   22.030247   14.669980    0.128760     0.000000     0.000000
3        6    0.524307    0.038525    0.002575     0.000000     0.000875
9        1    0.004681    0.000000    0.000000     0.000000     0.000000
26      19    8.910874    2.049269    0.428994     0.009611     0.000868
27       7    9.245588    4.826123    0.035268     9.303493     0.000000
32      14   19.731723    6.713518    1.761036     0.000000     0.000000
44       7    1.025207    0.000338    0.000000     0.000000     0.000000
45      20   19.209757    9.317347    2.707441     0.000000     0.000000
49      21   22.538169    0.000000    0.000000     0.000000     0.000000
68      14   16.642059    4.305357    7.496238    21.866159     0.019245
71       7   21.014403   25.128550    0.562550     0.000000     0.000000
74       4    0.149802    0.000000    0.000000     0.000000     0.000000
84       7    3.885488    2.714335    2.272041     0.000000     1.548455
90       1    0.028088    0.000000    0.000000     0.000000     0.000000
102      8   19.888547    0.843499    0.039856     0.013594     0.001301
115      7   21.784478    0.000000    0.000000     7.118442     0.000000
117     11    4.025927    1.248351    2.106885     0.000000     0.029499
130      7   21.892148   18.707688    0.002357     0.423673     0.000000
131     17    8.311667    0.000000    0.000000     0.000000     0.000000
151      5   11.080662    0.000000    0.000000     0.659757     0.000000
164      7    1.364602    0.037849    0.007414     0.000000     0.003037
165      7   21.637017    0.000000    0.000000     3.988381     0.000000
177      9    7.333273    0.354161    0.015548     0.000000     0.006073
179      7    1.235866    0.074347    0.003026     0.009150     0.002603
182      5   13.241087    0.000000    0.000000     3.862570     0.000000
184     34    9.877565    1.054373    0.110814     0.000000     0.000000
187     11    5.016024    1.591360    0.051159     0.041448     0.025422
190     23    2.415556    0.332533    3.017461     1.270294     1.221600
198      7   22.673927    0.000000    0.000000     0.000000     0.000000
214     10    4.281058    0.189584    0.010138     0.013453     0.050234
...     ..         ...         ...         ...          ...          ...
130225   7   22.545191   10.810704    5.773320     0.000000     0.000000
130238   6    0.028088    0.000000    0.000000     0.000000     0.000000
130241   6    1.806986    1.115540    1.479902     0.000000     0.024293
130256  12   11.640078    4.739948    0.008577     0.008064     0.001600
130259   1    0.060857    0.000000    0.000000     0.000000     0.000000
130260  30   18.568418    2.018178    1.421371     3.384998     0.000000
130270   5    0.140439    0.003379    0.000821     0.000000     0.010947
130289   7    5.596507    2.840725    0.061902     0.075649     0.000000
130290  12    2.605149    0.985095    0.036422     0.037731     0.033837
130292  17    1.727404    0.769152    0.518592     0.000000     0.021841
130303   7   18.430319    6.587466    0.000000     1.295203     0.000000
130320   7   20.731183   20.425776    5.528084     0.000000     0.027764
130322   7   22.498378    0.000000    0.000000     0.000000     0.000000
130325   7   22.116851    0.000000    0.000000     3.191528     0.000000
130339   4    0.510263    0.277111    3.142283     0.074228     9.298525
130375  13    3.209038    1.001654    0.016885     0.000000     0.000000
130389   7   18.205616    4.698381    0.025753     0.007824     0.000976
130397   6    1.139899    0.727585    5.898739     0.000000    17.556514
130409   3    6.366582    2.943120   20.200840     0.000000     8.373960
130410   7   15.850917   14.766293    0.392807     0.000000     0.000000
130417   7    3.422038    3.190155    5.545005     0.000000     0.006941
130422  11   22.566257   18.796229    0.000029     0.236121     0.000000
130432   9    3.290961    0.992868    0.056608     0.020710     0.011279
130435  16    4.021246    2.426748    7.793834     0.461115    17.626638
130438   4    1.221822    0.757662   12.265189     0.000000    18.092353
130443   7   22.116851    0.000000    0.000000     1.958909     0.000000
130453   2    3.309686    0.167280    0.006967     0.000000     0.000000
130458   7   22.704356    0.000000    0.000000     0.000000     0.000000
130467  11    1.563558    0.349768    5.796755     0.000000    17.842629
130471   7   21.168886    0.314960    0.039395     0.000000     0.003145

        rich_monster_1    death_1   revive_1  exp_recovery_1  fishing_1  \
acc_id
1                    0   0.491767   0.000000             0.0   0.000000
3                    1   0.000000   0.000000             0.0   0.345364
9                    0   0.000000   0.000000             0.0   0.000000
26                   2   5.163553   5.194075             0.0  10.843514
27                   0   3.196485   3.215380             0.0   0.000000
32                   0   0.245883   0.000000             0.0   0.000000
44                   0   0.000000   0.000000             0.0   0.000000
45                   0   0.000000   0.000000             0.0   0.000000
49                   0   0.000000   0.000000             0.0   0.000000
68                   0   2.212951   1.731358             0.0   0.000000
71                   0   0.000000   0.000000             0.0   0.000000
74                   0   0.000000   0.000000             0.0   0.000000
84                   5   0.491767   0.247337             0.0   0.000000
90                   0   0.000000   0.000000             0.0   0.000000
102                  1   0.000000   0.000000             0.0  17.970654
115                  0  15.736542  15.829561             0.0   0.000000
117                  0   0.000000   0.000000             0.0   0.526608
130                  0   0.491767   0.000000             0.0   0.000000
131                  0   0.000000   0.000000             0.0   0.000000
151                  0   1.721184   1.484021             0.0   0.000000
164                  0   0.000000   0.000000             0.0   1.046585
165                  0   1.721184   0.742011             0.0   0.000000
177                  1   0.000000   0.000000             0.0   2.106863
179                  1   0.000000   0.000000             0.0   0.673250
182                  0   0.983534   0.000000             0.0   0.000000
184                  1   0.737650   0.742011             0.0   0.175549
187                  2   0.000000   0.000000             0.0   1.905410
190                  4   1.475301   1.484021             0.0   0.726734
198                  0   0.000000   0.000000             0.0   0.000000
214                  1   0.000000   0.000000             0.0   0.000000
...                ...        ...        ...             ...        ...
130225               0  35.653103  35.863850             0.0   0.000000
130238               0   0.000000   0.000000             0.0   0.000000
130241               0   0.245883   0.247337             0.0   0.000000
130256               1   1.721184   1.731358             0.0   0.175510
130259               0   0.000000   0.000000             0.0   0.000000
130260               6  20.654211  20.776299             0.0   0.000000
130270               0   0.000000   0.000000             0.0   0.000000
130289               2   0.737650   0.742011             0.0   0.200243
130290               4   0.245883   0.247337             0.0   0.099907
130292               1   0.245883   0.247337             0.0   0.063159
130303               0   1.229417   0.989348             0.0   0.000000
130320               1   0.000000   0.000000             0.0   0.000000
130322               0   0.000000   0.000000             0.0   0.000000
130325               0   0.245883   0.000000             0.0   0.000000
130339               0   0.000000   0.000000             0.0   0.000000
130375               1   0.245883   0.247337             0.0   0.020208
130389               0   0.245883   0.247337             0.0  11.753327
130397               0   0.245883   0.247337             0.0   0.003628
130409               2   0.737650   0.742011             0.0   0.000000
130410               0   0.491767   0.494674             0.0   0.000000
130417               0   0.491767   0.494674             0.0   0.260008
130422               0   0.491767   0.494674             0.0   0.000000
130432               4   0.000000   0.000000             0.0   0.667789
130435               3   0.983534   0.989348             0.0   0.175549
130438               2   0.737650   0.742011             0.0   0.000000
130443               0   1.475301   0.000000             0.0   0.000000
130453               0   0.000000   0.000000             0.0   1.122266
130458               0   0.000000   0.000000             0.0   0.000000
130467               4   0.000000   0.000000             0.0   0.184717
130471               0   0.000000   0.000000             0.0  19.642779

        private_shop_1  game_money_change_1  enchant_count_1
acc_id
1             0.000000            -0.000005              0.0
3             0.000000             0.005545              0.0
9             0.000000             0.000000              0.0
26            0.000000             0.422360              0.0
27            0.000000            -0.007387              0.0
32            0.000000             0.002265              0.0
44            0.000000             0.014205              0.0
45            0.000000            -0.021598              0.0
49           20.550095             0.715587              0.0
68            0.000000            -0.023191              0.0
71            0.000000            -0.002239              0.0
74            0.000000             0.039214              0.0
84            0.000000             0.000568              0.0
90            0.000000             0.133484              0.0
102           0.000000            -0.228026              0.0
115           0.000000             0.004374              0.0
117           0.000000             0.024419              0.0
130           0.000000             0.003195              0.0
131           8.192644             0.014673              0.0
151           0.000000             0.060910              0.0
164           0.000000            -0.028293              0.0
165           0.000000            -0.001437              0.0
177           0.000000            -0.028759              0.0
179           0.000000             0.006522              0.0
182           0.000000            -0.005344              0.0
184           6.857340             0.013243              0.0
187           0.000000             1.659570              0.0
190           0.000000             0.001138              0.0
198          21.825479            -0.955882              0.0
214           3.463038             0.008003              0.0
...                ...                  ...              ...
130225        0.000000             0.005228              0.0
130238        0.000000            -0.000445              0.0
130241        0.000000             0.005693              0.0
130256        0.000000             0.021519              0.0
130259        0.000000            -0.000775              0.0
130260        0.000000            -0.054110              0.0
130270        0.000000             0.000259              0.0
130289        0.000000             0.045714              0.0
130290        0.000000             0.039126              0.0
130292        0.000000            -0.001735              0.0
130303        0.000000            -0.008880              0.0
130320        0.000000             0.004666              0.0
130322       21.485459             0.547393              0.0
130325        0.000000             0.003038              0.0
130339        0.000000            -0.358459              0.0
130375        0.000000             0.009198              0.0
130389        0.000000            -3.160376              0.0
130397        0.000000            -0.017414              0.0
130409        0.000000             0.000284              0.0
130410        0.000000             0.001834              0.0
130417        0.000000             0.010049              0.0
130422        0.000000             0.254241              0.0
130432        0.000000             0.017857              0.0
130435        0.000000             0.026068              0.0
130438        0.000000             0.003191              0.0
130443        0.000000            -0.000035              0.0
130453        0.000000             0.012500              0.0
130458       21.218274            -0.675664              0.0
130467        0.000000             0.000349              0.0
130471        0.000000            -0.348209              0.0

[16046 rows x 14 columns]

In [24]:
act_wk1.reset_index(inplace=True)
act_wk2.reset_index(inplace=True)
act_wk3.reset_index(inplace=True)
act_wk4.reset_index(inplace=True)

In [25]:
act_wk1.head()

,acc_id,wk,playtime_1,npc_kill_1,solo_exp_1,party_exp_1,quest_exp_1,rich_monster_1,death_1,revive_1,exp_recovery_1,fishing_1,private_shop_1,game_money_change_1,enchant_count_1
0,1,12,22.030247,14.669980,0.128760,0.000000,0.000000,0,0.491767,0.000000,0.0,0.000000,0.0,-0.000005,0.0
1,3,6,0.524307,0.038525,0.002575,0.000000,0.000875,1,0.000000,0.000000,0.0,0.345364,0.0,0.005545,0.0
2,9,1,0.004681,0.000000,0.000000,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.0,0.000000,0.0
3,26,19,8.910874,2.049269,0.428994,0.009611,0.000868,2,5.163553,5.194075,0.0,10.843514,0.0,0.422360,0.0
4,27,7,9.245588,4.826123,0.035268,9.303493,0.000000,0,3.196485,3.215380,0.0,0.000000,0.0,-0.007387,0.0

In [26]:
act_wk2.head()

,acc_id,wk,playtime_2,npc_kill_2,solo_exp_2,party_exp_2,quest_exp_2,rich_monster_2,death_2,revive_2,exp_recovery_2,fishing_2,private_shop_2,game_money_change_2,enchant_count_2
0,1,18,22.105148,14.596309,0.128466,0.000000,0.000000,0,0.983534,0.000000,0.0,0.000000,0.0,0.000308,0.0
1,3,22,0.936262,0.015545,0.005393,0.000000,0.066674,0,0.000000,0.000000,0.0,0.442540,0.0,-0.009684,0.0
2,26,24,7.422218,0.925956,0.000000,0.000000,0.000000,1,6.638854,6.678096,0.0,23.593805,0.0,0.140403,0.0
3,27,14,11.167266,5.114386,0.012286,3.582331,0.000000,0,1.229417,0.989348,0.0,0.000000,0.0,0.009490,0.0
4,32,30,19.457867,6.089343,1.692755,0.000000,3.493125,0,1.229417,0.742011,0.0,0.000000,0.0,-0.015504,0.0

In [27]:
act_wk3.head()

,acc_id,wk,playtime_3,npc_kill_3,solo_exp_3,party_exp_3,quest_exp_3,rich_monster_3,death_3,revive_3,exp_recovery_3,fishing_3,private_shop_3,game_money_change_3,enchant_count_3
0,1,33,21.857038,14.468568,1.274407e-01,0.000000,0.00000,0,0.000000,0.000000,0.0,0.000000,0.0,-0.000295,0.0
1,3,30,0.730284,0.000000,4.898091e-05,0.000000,0.00182,0,0.000000,0.000000,0.0,0.073731,0.0,0.023620,0.0
2,14,84,2.481095,0.054746,9.563486e-03,0.000362,0.00000,1,0.491767,0.494674,0.0,0.000000,0.0,0.016766,0.0
3,26,87,8.274216,0.586326,3.014210e-07,0.000000,0.00000,1,9.589455,9.646139,0.0,24.172141,0.0,-0.127453,0.0
4,27,21,9.786279,4.757521,1.782544e-02,3.072028,0.00000,1,1.721184,1.484021,0.0,0.000000,0.0,-0.002171,0.0

In [28]:
act_wk4.head()

,acc_id,wk,playtime_4,npc_kill_4,solo_exp_4,party_exp_4,quest_exp_4,rich_monster_4,death_4,revive_4,exp_recovery_4,fishing_4,private_shop_4,game_money_change_4,enchant_count_4
0,1,48,22.559235,14.551025,0.127720,0.000000,0.000000,0,1.229417,0.000000,0.0,0.000000,0.0,0.000108,0.0
1,3,24,0.503241,0.038525,0.002197,0.000000,0.009543,1,0.000000,0.000000,0.0,0.163807,0.0,-0.000082,0.0
2,9,16,0.077242,0.015883,0.005888,0.000000,0.066681,0,0.000000,0.000000,0.0,0.000000,0.0,0.028409,0.0
3,14,72,4.077421,0.161197,0.024120,0.000476,0.006073,3,0.491767,0.494674,0.0,0.526569,0.0,-0.008742,0.0
4,26,52,7.209218,0.213240,0.000000,0.000000,0.000000,1,8.114154,8.162118,0.0,24.547739,0.0,-0.456244,0.0

In [29]:
del act_wk1["wk"]
del act_wk2["wk"]
del act_wk3["wk"]
del act_wk4["wk"]

In [30]:
act_mer1 = pd.merge(act_wk1, act_wk2, how='outer', on = "acc_id")
act_mer1.head(10)

,acc_id,playtime_1,npc_kill_1,solo_exp_1,party_exp_1,quest_exp_1,rich_monster_1,death_1,revive_1,exp_recovery_1,...,party_exp_2,quest_exp_2,rich_monster_2,death_2,revive_2,exp_recovery_2,fishing_2,private_shop_2,game_money_change_2,enchant_count_2
0,1,22.030247,14.669980,0.128760,0.000000,0.000000,0.0,0.491767,0.000000,0.0,...,0.000000,0.000000,0.0,0.983534,0.000000,0.0,0.000000,0.000000,0.000308,0.0
1,3,0.524307,0.038525,0.002575,0.000000,0.000875,1.0,0.000000,0.000000,0.0,...,0.000000,0.066674,0.0,0.000000,0.000000,0.0,0.442540,0.000000,-0.009684,0.0
2,9,0.004681,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,26,8.910874,2.049269,0.428994,0.009611,0.000868,2.0,5.163553,5.194075,0.0,...,0.000000,0.000000,1.0,6.638854,6.678096,0.0,23.593805,0.000000,0.140403,0.0
4,27,9.245588,4.826123,0.035268,9.303493,0.000000,0.0,3.196485,3.215380,0.0,...,3.582331,0.000000,0.0,1.229417,0.989348,0.0,0.000000,0.000000,0.009490,0.0
5,32,19.731723,6.713518,1.761036,0.000000,0.000000,0.0,0.245883,0.000000,0.0,...,0.000000,3.493125,0.0,1.229417,0.742011,0.0,0.000000,0.000000,-0.015504,0.0
6,44,1.025207,0.000338,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,-0.013302,0.0
7,45,19.209757,9.317347,2.707441,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,0.000000,0.017794,0.0
8,49,22.538169,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0.0,0.000000,0.000000,0.0,0.000000,21.093478,-0.579017,0.0
9,68,16.642059,4.305357,7.496238,21.866159,0.019245,0.0,2.212951,1.731358,0.0,...,25.223337,0.000000,0.0,1.229417,1.236684,0.0,0.000000,0.000000,0.005530,0.0

In [31]:
act_mer2 = pd.merge(act_wk3, act_wk4, how='outer', on = "acc_id")
act_mer2.head(10)

,acc_id,playtime_3,npc_kill_3,solo_exp_3,party_exp_3,quest_exp_3,rich_monster_3,death_3,revive_3,exp_recovery_3,...,party_exp_4,quest_exp_4,rich_monster_4,death_4,revive_4,exp_recovery_4,fishing_4,private_shop_4,game_money_change_4,enchant_count_4
0,1,21.857038,14.468568,1.274407e-01,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,1.229417,0.000000,0.0,0.000000,0.000000,0.000108,0.0
1,3,0.730284,0.000000,4.898091e-05,0.000000,0.001820,0.0,0.000000,0.000000,0.0,...,0.000000,0.009543,1,0.000000,0.000000,0.0,0.163807,0.000000,-0.000082,0.0
2,14,2.481095,0.054746,9.563486e-03,0.000362,0.000000,1.0,0.491767,0.494674,0.0,...,0.000476,0.006073,3,0.491767,0.494674,0.0,0.526569,0.000000,-0.008742,0.0
3,26,8.274216,0.586326,3.014210e-07,0.000000,0.000000,1.0,9.589455,9.646139,0.0,...,0.000000,0.000000,1,8.114154,8.162118,0.0,24.547739,0.000000,-0.456244,0.0
4,27,9.786279,4.757521,1.782544e-02,3.072028,0.000000,1.0,1.721184,1.484021,0.0,...,3.614368,0.000000,0,1.475301,0.989348,0.0,0.000000,0.000000,-0.003504,0.0
5,32,19.038890,5.500313,1.568341e+01,0.000000,13.086872,0.0,43.767257,36.853198,0.0,...,0.000000,0.000000,0,13.523591,1.236684,0.0,0.000000,0.000000,0.008041,0.0
6,44,1.036910,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.001596,0.0
7,45,20.281777,10.271352,2.232955e+00,0.000000,0.000000,0.0,1.229417,0.000000,0.0,...,0.000000,0.000000,0,0.245883,0.000000,0.0,0.000000,0.000000,-0.046495,0.0
8,49,22.552213,0.000000,0.000000e+00,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,20.842013,0.139703,0.0
9,64,0.044472,0.039201,2.232927e-02,0.000000,0.109783,0.0,0.000000,0.000000,0.0,...,19.053583,17.516395,0,0.245883,0.247337,0.0,0.000000,0.000000,0.031395,0.0

In [32]:
act_mer = pd.merge(act_mer1, act_mer2, how = "outer", on = "acc_id").fillna(0)
act_mer

,acc_id,playtime_1,npc_kill_1,solo_exp_1,party_exp_1,quest_exp_1,rich_monster_1,death_1,revive_1,exp_recovery_1,...,party_exp_4,quest_exp_4,rich_monster_4,death_4,revive_4,exp_recovery_4,fishing_4,private_shop_4,game_money_change_4,enchant_count_4
0,1,22.030247,14.669980,0.128760,0.000000,0.000000,0.0,0.491767,0.000000,0.0,...,0.000000,0.000000,0,1.229417,0.000000,0.0,0.000000,0.000000,0.000108,0.0
1,3,0.524307,0.038525,0.002575,0.000000,0.000875,1.0,0.000000,0.000000,0.0,...,0.000000,0.009543,1,0.000000,0.000000,0.0,0.163807,0.000000,-0.000082,0.0
2,9,0.004681,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.066681,0,0.000000,0.000000,0.0,0.000000,0.000000,0.028409,0.0
3,26,8.910874,2.049269,0.428994,0.009611,0.000868,2.0,5.163553,5.194075,0.0,...,0.000000,0.000000,1,8.114154,8.162118,0.0,24.547739,0.000000,-0.456244,0.0
4,27,9.245588,4.826123,0.035268,9.303493,0.000000,0.0,3.196485,3.215380,0.0,...,3.614368,0.000000,0,1.475301,0.989348,0.0,0.000000,0.000000,-0.003504,0.0
5,32,19.731723,6.713518,1.761036,0.000000,0.000000,0.0,0.245883,0.000000,0.0,...,0.000000,0.000000,0,13.523591,1.236684,0.0,0.000000,0.000000,0.008041,0.0
6,44,1.025207,0.000338,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.001596,0.0
7,45,19.209757,9.317347,2.707441,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.245883,0.000000,0.0,0.000000,0.000000,-0.046495,0.0
8,49,22.538169,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,20.842013,0.139703,0.0
9,68,16.642059,4.305357,7.496238,21.866159,0.019245,0.0,2.212951,1.731358,0.0,...,14.885399,0.000000,0,1.967068,1.731358,0.0,0.000000,0.000000,-0.032396,0.0
10,71,21.014403,25.128550,0.562550,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.007132,0.0
11,74,0.149802,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.195023,0.003470,1,2.704718,2.720706,0.0,2.311397,0.000000,1.133335,0.0
12,84,3.885488,2.714335,2.272041,0.000000,1.548455,5.0,0.491767,0.247337,0.0,...,0.000000,0.000000,4,0.000000,0.000000,0.0,0.000000,0.000000,-0.000210,0.0
13,90,0.028088,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.227473,0,1.967068,1.484021,0.0,0.000000,0.000000,4.872112,0.0
14,102,19.888547,0.843499,0.039856,0.013594,0.001301,1.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,10.131682,0.000000,-0.143815,0.0
15,115,21.784478,0.000000,0.000000,7.118442,0.000000,0.0,15.736542,15.829561,0.0,...,3.506298,0.000000,0,3.688252,3.710053,0.0,0.000000,0.000000,0.006582,0.0
16,117,4.025927,1.248351,2.106885,0.000000,0.029499,0.0,0.000000,0.000000,0.0,...,0.000000,0.060733,0,0.000000,0.000000,0.0,19.652960,0.000000,0.050400,0.0
17,130,21.892148,18.707688,0.002357,0.423673,0.000000,0.0,0.491767,0.000000,0.0,...,0.267462,0.000000,0,4.180019,0.000000,0.0,0.000000,0.000000,0.001245,0.0
18,131,8.311667,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,10.083816,1.118287,-0.003688,0.0
19,151,11.080662,0.000000,0.000000,0.659757,0.000000,0.0,1.721184,1.484021,0.0,...,1.282393,0.000000,0,3.442369,2.473369,0.0,0.000000,0.000000,0.006895,0.0
20,164,1.364602,0.037849,0.007414,0.000000,0.003037,0.0,0.000000,0.000000,0.0,...,0.000649,0.009543,1,0.245883,0.247337,0.0,0.812988,0.000000,-0.719540,0.0
21,165,21.637017,0.000000,0.000000,3.988381,0.000000,0.0,1.721184,0.742011,0.0,...,2.509058,0.000000,0,0.491767,0.000000,0.0,0.000000,0.000000,-0.001114,0.0
22,177,7.333273,0.354161,0.015548,0.000000,0.006073,1.0,0.000000,0.000000,0.0,...,0.001978,0.002603,0,0.000000,0.000000,0.0,1.052437,0.000000,0.006166,0.0
23,179,1.235866,0.074347,0.003026,0.009150,0.002603,1.0,0.000000,0.000000,0.0,...,0.000000,0.021690,2,0.983534,0.989348,0.0,0.679102,0.000000,0.238366,0.0
24,182,13.241087,0.000000,0.000000,3.862570,0.000000,0.0,0.983534,0.000000,0.0,...,3.200793,0.000000,0,0.737650,0.742011,0.0,0.000000,0.000000,-0.009988,0.0
25,184,9.877565,1.054373,0.110814,0.000000,0.000000,1.0,0.737650,0.742011,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,6.247287,-0.146593,0.0
26,187,5.016024,1.591360,0.051159,0.041448,0.025422,2.0,0.000000,0.000000,0.0,...,0.105176,0.102679,0,0.000000,0.000000,0.0,4.729723,0.000000,-0.076602,0.0
27,190,2.415556,0.332533,3.017461,1.270294,1.221600,4.0,1.475301,1.484021,0.0,...,0.000000,0.069409,2,0.000000,0.000000,0.0,0.963375,0.000000,-0.000066,0.0
28,198,22.673927,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,21.888364,0.530332,0.0
29,214,4.281058,0.189584,0.010138,0.013453,0.050234,1.0,0.000000,0.000000,0.0,...,0.000004,0.005206,0,0.000000,0.000000,0.0,0.000000,5.362480,-0.121651,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
19970,128279,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.000003,0.0
19971,128319,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,1.808429,0.000000,0.000092,0.0
19972,128359,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
19973,128414,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
19974,128530,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000170,0.0
19975,128587,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,15.415668,1,35.161336,34.874502,0.0,0.000000,0.000000,0.001104,0.0
19976,128589,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.083291,3,0.245883,0.247337,0.0,0.000000,0.000000,0.000804,0.0
19977,128635,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,119.201617,16.572299,1,4.425902,2.968043,0.0,0.000000,0.000000,0.001490,0.0
19978,128667,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.001258,0.0
19979,128669,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000142,0.0
19980,128828,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.003261,0.0
19981,128903,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,8.491312,7.006529,0.0
19982,129082,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.124903,0.0
19983,129090,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.955807,0.000000,1.536353,0.0
19984,129114,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,37.638819,2,0.245883,0.247337,0.0,0.000000,0.000000,0.004446,0.0
19985,129158,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.000007,0.0
19986,129159,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,9.465376,0.858732,0.0
19987,129250,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000385,0.000000,0,0.737650,0.742011,0.0,0.000000,0.000000,-0.000407,0.0
19988,129358,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,60.733728,18.771817,1,0.737650,0.494674,0.0,0.000000,0.812129,0.010707,0.0
19989,129421,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000868,0,0.737650,0.494674,0.0,0.000000,0.000000,-0.012886,0.0
19990,129549,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,16.862052,2,19.178910,19.539615,0.0,0.000000,0.000000,0.001796,0.0
19991,129603,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.079460,0,0.000000,0.000000,0.0,0.000000,14.773318,0.423462,0.0
19992,129740,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,15.095893,0,0.000000,0.000000,0.0,0.000000,0.000000,0.002276,0.0
19993,129781,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
19994,129819,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.962270,0,0.000000,0.000000,0.0,0.000000,0.000000,0.434502,0.0
19995,130002,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.001335,0.000434,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.019815,0.0
19996,130173,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0
19997,130179,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,-0.002016,0.0
19998,130245,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000624,0.0
19999,130439,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.000000,0.000000,0.0,...,0.000000,0.000000,0,0.000000,0.000000,0.0,0.000000,0.000000,0.000000,0.0

In [33]:
activity_df = pd.read_csv('test_2_act.csv')

In [34]:
activity_df.head()

,acc_id,playtime,solo_exp,party_exp,quest_exp,npc_kill,rich_monster,death,revive,char_id,exp_recovery,fishing,private_shop,game_money_change,enchant_count,sum_exp
0,1,88.551668,0.512386,0.000000,0.000000,58.285882,0,2.704718,0.000000,10004000,0.0,0.000000,0.0,0.000116,0.0,0.512386
1,3,2.694094,0.010214,0.000000,0.078912,0.092596,2,0.000000,0.000000,8619223,0.0,1.025441,0.0,0.019400,0.0,0.089127
2,9,0.081923,0.005888,0.000000,0.066681,0.015883,0,0.000000,0.000000,930550,0.0,0.000000,0.0,0.028409,0.0,0.072569
3,14,6.558516,0.033683,0.000837,0.006073,0.215944,4,0.983534,0.989348,9941103,0.0,0.526569,0.0,0.008024,0.0,0.040594
4,26,31.816526,0.428995,0.009611,0.000868,3.774791,5,29.506016,29.680428,13714990,0.0,83.157199,0.0,-0.020933,0.0,0.439474

In [35]:
ds = pd.merge(activity_df,act_mer,on='acc_id',how = "outer")
ds.shape

(20000, 68)

In [36]:
ds.to_csv('08-22test2_act.csv',index=False)

In [37]:
ds.head()

,acc_id,playtime,solo_exp,party_exp,quest_exp,npc_kill,rich_monster,death,revive,char_id,...,party_exp_4,quest_exp_4,rich_monster_4,death_4,revive_4,exp_recovery_4,fishing_4,private_shop_4,game_money_change_4,enchant_count_4
0,1,88.551668,0.512386,0.000000,0.000000,58.285882,0,2.704718,0.000000,10004000,...,0.000000,0.000000,0,1.229417,0.000000,0.0,0.000000,0.0,0.000108,0.0
1,3,2.694094,0.010214,0.000000,0.078912,0.092596,2,0.000000,0.000000,8619223,...,0.000000,0.009543,1,0.000000,0.000000,0.0,0.163807,0.0,-0.000082,0.0
2,9,0.081923,0.005888,0.000000,0.066681,0.015883,0,0.000000,0.000000,930550,...,0.000000,0.066681,0,0.000000,0.000000,0.0,0.000000,0.0,0.028409,0.0
3,14,6.558516,0.033683,0.000837,0.006073,0.215944,4,0.983534,0.989348,9941103,...,0.000476,0.006073,3,0.491767,0.494674,0.0,0.526569,0.0,-0.008742,0.0
4,26,31.816526,0.428995,0.009611,0.000868,3.774791,5,29.506016,29.680428,13714990,...,0.000000,0.000000,1,8.114154,8.162118,0.0,24.547739,0.0,-0.456244,0.0

In [38]:
rw = pd.read_csv('08-22train_act.csv')

FileNotFoundError: [Errno 2] File b'08-22train_act.csv' does not exist: b'08-22train_act.csv'

In [ ]:
rw.head()

In [ ]:
'''for col in t_activity.columns[1:14]:
    for i in range(1, 5):
        t_activity["{}_{}".format(col, i)] = 0'''

In [ ]:
dt.columns

In [ ]:
t_activity = pd.read_csv("train_activity.csv")

In [ ]:
dt = pd.merge(t_activity,act_wk1,on='acc_id')
dt.groupby('acc_id').agg('sum').reset_index()
dt = dt.merge(act_wk2,on='acc_id')
dt.groupby('acc_id').agg('sum').reset_index()
dt = dt.merge(act_wk3,on='acc_id')
dt.groupby('acc_id').agg('sum').reset_index()
dt = dt.merge(act_wk4,on='acc_id')
dt.groupby('acc_id').agg('sum').reset_index()

In [ ]:
df = pd.merge(act_wk1,act_wk2,on='acc_id')
df

In [ ]:
df = pd.merge(act_wk1,act_wk2,on='acc_id',how='left').groupby('acc_id').agg('sum').fillna(0)
df = df.merge(act_wk3,on='acc_id',how='left').groupby('acc_id').agg('sum').fillna(0)
df = df.merge(act_wk4,on='acc_id',how='left').groupby('acc_id').agg('sum').fillna(0)
df

In [ ]:
df.reset_index(inplace=True)

In [ ]:
df = df.merge(t_activity,on='acc_id')
df.shape

In [ ]:
df2 = t_activity.merge(df)

In [ ]:
df2.shape

In [ ]:
final = df2[['acc_id']]

In [ ]:
final.shape

In [ ]:
fi = t_activity.groupby('acc_id').size().reset_index()
final2 =

In [ ]:
acc_id = t_activity.loc[:,['acc_id']].groupby('acc_id').agg('sum').reset_index()

In [ ]:
t_activity.shape

In [ ]:
acc_id.shape

In [ ]:
dg = acc_id.merge(act_wk1,on='acc_id').fillna(0)
dg = dg.merge(act_wk2,on='acc_id').fillna(0)
dg = dg.merge(act_wk3,on='acc_id').fillna(0)
dg = dg.merge(act_wk4,on='acc_id').fillna(0)
dg.shape

In [ ]:
act_wk1[1:14]

In [ ]:
for i in act_wk1[1:14]:
    t_activity["{}_{}".format(col, i)] = i

In [ ]:
act_wk1.reset_index(inplace=True)
act_wk2.reset_index(inplace=True)
act_wk3.reset_index(inplace=True)
act_wk4.reset_index(inplace=True)

In [ ]:
t_activity

In [ ]:
t_group[0:1]['playtime']

In [ ]:
for i in t_group:
    for j in t_activity.columns[4:]:
        t_activity[] = t_group[j]

In [ ]:
# all of columns classification groupby 'acc_id' and week
class attribute_sum:
    def __init__(self, df):
        self.df = df
    
    def df_sum(self, col_name):
        t_group = df.groupby(['acc_id', "wk"], sort = ['acc_id'])[df.columns[4:]].agg('sum')
        for i in df.columns[:]:
            
            for j in :
                data = []
                x = self.df[i].rolling(j).mean()
                for d in x:
                    data.append(d)
                self.df[i + ' {}'.format(j)] = data
        return

In [ ]:
t_combat = pd.read_csv("train_combat.csv")
t_combat["wk"] = 0
wk_classification(t_combat)
t_combat.set_index(t_combat["wk"], inplace = True)

In [ ]:
del t_combat["wk"]

In [ ]:
t_combat.columns

In [ ]:
t_combat.head()

In [ ]:
t_payment = pd.read_csv("train_payment.csv")
t_payment["wk"] = 0
wk_classification(t_payment)
t_payment.set_index(t_payment["wk"], inplace = True)

In [ ]:
del t_payment["wk"]

In [ ]:
t_payment.columns

In [ ]:
t_pledge = pd.read_csv("train_pledge.csv")
t_pledge["wk"] = 0
wk_classification(t_pledge)
t_pledge.set_index(t_pledge["wk"], inplace = True)

In [ ]:
del t_pledge["wk"]

In [ ]:
t_pledge.columns

In [ ]:
t_trade = pd.read_csv("train_trade.csv")
t_trade["wk"] = 0
wk_classification(t_trade)
t_trade.set_index(t_trade["wk"], inplace = True)

In [ ]:
del t_trade["wk"]

In [ ]:
t_trade.columns